@import url("components/text/text.css");
@import url("pages/projects/gratitudes/gratitudes.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bark: #341109;
  --soft-bark: #341109a8;
  --oatmeal: #f3d6af;
}

body {
  color: var(--bark);
  background: var(--oatmeal);
}

::-moz-selection {
  /* Code for Firefox */
  color: var(--oatmeal);
  background: var(--bark);
}

::selection {
  color: var(--oatmeal);
  background: var(--bark);
}
