/* Typography Styles - Default (Mobile First) */
.h1 {
  font-size: 48px;
  line-height: 1.05;
  font-family: var(--font-tobias);

  @media (min-width: 768px) {
    font-size: 81px;
  }
}

.h2 {
  font-size: 36px;
  line-height: 1.1;
  font-family: var(--font-tobias);

  @media (min-width: 768px) {
    font-size: 64px;
  }
}

.h3 {
  font-size: 24px;
  line-height: 1.3;
  font-family: var(--font-tobias);

  @media (min-width: 768px) {
    font-size: 40px;
    line-height: 1.1;
  }
}

.body {
  font-size: 16px;
  font-family: var(--font-soehne);

  @media (min-width: 768px) {
    font-size: 24px;
    line-height: 1.3;
  }
}

.body-small {
  font-size: 12px;
  line-height: 1;
  font-family: var(--font-soehne);

  @media (min-width: 768px) {
    font-size: 20px;
    line-height: 1;
  }
}

.mono {
  font-size: 14px;
  line-height: 1.2;
  font-family: var(--font-geist-mono);

  @media (min-width: 768px) {
    font-size: 12px;
  }
}

/* HELPERS */
.text-pretty {
  text-wrap: pretty;
}

.text-center {
  text-align: center;
}

.text-dark {
  color: var(--bark);

  &::selection {
    color: var(--oatmeal);
    background: var(--bark);
  }

  &::-moz-selection {
    color: var(--oatmeal);
    background: var(--bark);
  }
}

.text-light {
  color: var(--oatmeal);

  &::selection {
    color: var(--bark);
    background: var(--oatmeal);
  }

  &::-moz-selection {
    color: var(--oatmeal);
    background: var(--bark);
  }
}
